html, body{
    
   height:100%;
    margin: 0;
    padding: 0;
    
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
  body{
      display:flex;
      flex-direction: column;
       overflow: auto;
  }
  header, footer{
      flex:none;
  }

header{
    width:100%;
    
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
   
    
}


section{
   
    width:100%;
   
    
    background-image:url("../images/xv.png");
    flex: auto;
   
    
    
}
article{
    position: relative;
    width:960px;
    margin:100px auto;
    font-size:20px;
    border:0.5px solid grey;
    background-color: #ffffff;
}

h1{
    width: 50%;
}
nav{
    width:50%;
    float:right;
}

h1, nav{
    display:inline-block;
}

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: inline-block;
    right:0;
}
li {
    display: inline;   
}
a:link{
    text-decoration: none;
}

img{
   float:left; 
   margin:20px;

}

footer{
   
    padding-top:10px;
    text-align: center;
    width: 100%;
    position:sticky;
    bottom:0;
   
    background-color:#4aaaa5;
}
footer p{
    background-color:#666666;
    color:white;
    margin:0;
    padding:25px;
    
}